.alert {
  position: fixed !important;
  top: 10px;
  right: 50px;
}

.alert-message {
  color: #414347;
  font-size: 13px;
  font-weight: 700;
}

body {
  background-image: url('../images/background28.jpg');
}

div::selection, span::selection, strong::selection {
  background: transparent;
}

div::-moz-selection, span::-moz-selection, strong::-moz-selection {
  background: transparent;
}
