.board-button {
  width: 23%;
  margin: 10px 1%;
  height: 125px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  box-shadow: 2px 5px 10px dimgrey;
  transform: translate(-3px, -3px);
  border-radius: 8px;
  animation: 300ms linear normal forwards down;
}

.board-button:first-child {
  background: #5cb759;
}
.board-button:hover {
  animation: 120ms linear normal forwards up;
}

.disabled {
  opacity: 0.5;
}

.board-create-form {
  margin: 10px 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #3b80d6;
  width: 23%;
  min-width: 200px;
  max-width: 300px;
  height: 150px;
  cursor: pointer;
  box-shadow: 0 5px 10px dimgrey;
  border-radius: 8px;
}

.board-create-form > div > input {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 18px;
}
.board-create-form > div > svg {
  font-size: 34px;
  color: white;
}

.board-create-form > div > label {
  font-size: 20px;
  color: white;
  margin-left: 25px;
}

.board-create-form > div {
  margin-left: -10px;
}

.board-create-form > div > svg:hover {
  color: #de4949;
}

.board-create-form > div > button {
  margin-bottom: 10px;
  margin-left: 25px;
}

.board-button > div > label {
  margin-left: 25px;
}

.board-button > div {
  margin-left: 0px;
}

.board-button > div > svg {
  font-size: 34px;
  margin-top: 2px;
}

.board-button > div > svg:hover {
  color: black;
}

.color-box {
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background: #ede9e9;
  border-radius: 25%;
  cursor: pointer;
}
.color-box:hover {
  background: #b8cccc;
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.colors {
  height: 20px;
  margin-top: 10px;
  padding-left: 17px;
}
